@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "LXGW WenKai Mono TC", monospace;
 

    
   
}

body {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(
    125% 125% at 50% 100%,
    #000000 40%,
    #010133 100%
  );
  color: aliceblue;
}

.quiz-sec{
    padding: 70px;
}


.quiz{
    border: 2px solid rgb(169, 169, 169);
    background-color:transparent;
    border-radius: 10px;
    padding-bottom: 10px;
}

/* start-quiz */
.start-quiz{
     background-color: rgb(186, 124, 0);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: black;

}